main {
    width: 80%;
    margin: 0 10%;
}

.code {
    border: none;
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
}

.code-h70 {
    height: 70px;
}

.code-h300{
    height: 300px;
}

.code-h150{
    height: 150px;
}

section {
    margin-bottom: 10px;
}

.block {
    margin: 50px 0;
    border: 1px solid #e5e2e2;
    border-radius: 10px;
    padding: 20px;

}

.intext-code {
    margin: 0 10px;
    background-color: #f5f5f5;
    color: rgb(21, 160, 240);
    font-size: 20px;
}

.label-example {
    display: flex;
    flex-direction: row;
    gap: 50px;
}