:root {
  --colour-primary-black: #0D0D0D;
  --colour-primary-dark: #4F7699;
  --colour-primary-light: #b1c1ce;
  --colour-primary-light-100: #DFE8EF;
  --colour-secondary-dark: #8C5A4F;
  --colour-secondary-light: #F3E3D4;
  --colour-secondary-light100: #FFFDFC;
  --neutral-dark: #7B7B7B;
  --neutral-light: #c9c9c9;
  --neutral-white: neutral-white;
  --success-light: #E9FFF2;
  --success-dark: #007E33;
  --error-light: #FFEDED;
  --error-dark: #CC0100;
  --warning-light: #FFF2D6;
  --warning-dark: #EB7B01;
}

.card-icon {
  margin: 32px auto 0;
  width: 50px;
  height: 50px;
}

.card-success {
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid #007E33;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.btn-success {
  background-color: #007E33;
  border-radius: 8px;
  border: 1px solid #007E33;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
}

.btn-success:hover {
  background-color: #E9FFF2;
  border: 1px solid #007E33;
  color: #0D0D0D;
}

.btn-success-secondary {
  background-color: #FFFDFC;
  border-radius: 8px;
  border-width: 1px;
  border-color: #007E33;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #007E33;
  width: 200px;
}

.btn-success-secondary:hover {
  background-color: #E9FFF2;
  border: 1px solid #007E33;
  color: #0D0D0D;
}

.card-error {
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid #CC0100;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.btn-error {
  background-color: #CC0100;
  border-radius: 8px;
  border: 1px solid #CC0100;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
}

.btn-error:hover {
  background-color: #FFEDED;
  border: 1px solid #CC0100;
  color: #0D0D0D;
}

.btn-error-secondary {
  background-color: #FFFDFC;
  border-radius: 8px;
  border-width: 1px;
  border-color: #CC0100;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #CC0100;
  width: 200px;
}

.btn-error-secondary:hover {
  background-color: #FFEDED;
  border: 1px solid #CC0100;
  color: #0D0D0D;
}

.card-warning {
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid #EB7B01;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.btn-warning {
  background-color: #EB7B01;
  border-radius: 8px;
  border: 1px solid #EB7B01;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
}

.btn-warning:hover {
  background-color: #FFF2D6;
  border: 1px solid #EB7B01;
  color: #0D0D0D;
}

.btn-warning-secondary {
  background-color: #FFFDFC;
  border-radius: 8px;
  border-width: 1px;
  border-color: #EB7B01;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #EB7B01;
  width: 200px;
}

.btn-warning-secondary:hover {
  background-color: #FFF2D6;
  border: 1px solid #EB7B01;
  color: #0D0D0D;
}/*# sourceMappingURL=messages.css.map */