.button-primary {
  background-color: #8C5A4F;
  border-radius: 5px;
  border-width: 1px;
  border-color: #8C5A4F;
  font-size: 24px;
  text-transform: uppercase;
  margin: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
}

.button-primary:hover {
  background-color: #F3E3D4;
  color: #0D0D0D;
}

.button-secondary {
  background-color: #FFFDFC;
  border-radius: 5px;
  border-width: 1px;
  border-color: #8C5A4F;
  font-size: 24px;
  text-transform: uppercase;
  margin: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #8C5A4F;
}

.button-secondary:hover {
  background-color: #F3E3D4;
  color: #8C5A4F;
}

.button-secondary:disabled {
  background-color: #c9c9c9;
  color: #FFFFFF;
  border: none;
}

.form-label {
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 20px;
}

.form-label-error {
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 20px;
  color: #CC0100;
}

.form-label-success {
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 20px;
  color: #007E33;
}

.form-group {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
}

.form-control {
  padding: 10px 10px;
  border: 1px solid #8C5A4F;
  border-radius: 8px;
  font-size: 24px;
  font-family: "Baloo Chettan 2", sans-serif;
  color: #8C5A4F;
  background-color: #FFFDFC;
}

.form-control:focus {
  outline: none;
  border: 2px solid #8C5A4F;
}

.error {
  border: 1px solid #CC0100;
  background-color: #FFEDED;
}

.error-feedback {
  color: #CC0100;
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 18px;
}

.error:focus {
  outline: none;
  border: 2px solid #CC0100;
}

.success {
  border: 1px solid #007E33;
  background-color: #E9FFF2;
}

.success-feedback {
  color: #007E33;
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 18px;
}

.success:focus {
  outline: none;
  border: 2px solid #007E33;
}

.form-select {
  padding: 10px 10px;
  border: 1px solid #8C5A4F;
  border-radius: 8px;
  font-size: 24px;
  font-family: "Baloo Chettan 2", sans-serif;
  color: #8C5A4F;
  background-color: #FFFDFC;
}

.dropdown {
  position: relative;
  height: 40px;
}

.dropbtn {
  cursor: pointer;
  text-align: left;
}

.dropdown-content {
  top: 40px;
  display: none;
  position: absolute;
  background-color: #FFFDFC;
  width: 500px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.dropdown-content a {
  color: #8C5A4F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid #8C5A4F;
  max-width: 500px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.dropdown-content a:hover {
  background-color: #F3E3D4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #F3E3D4;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Baloo Chettan 2", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  border: 1px solid #4F7699;
  border-radius: 3px;
}

.check-container:hover input ~ .checkmark {
  background-color: #DFE8EF;
}

.check-container input:checked ~ .checkmark {
  background-color: #b1c1ce;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #b1c1ce;
}

.radio-container:hover input ~ .radiobtn {
  background-color: #DFE8EF;
}

.radio-container input:checked ~ .radiobtn {
  background-color: #b1c1ce;
}

.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radiobtn:after {
  display: block;
}

.radio-container .radiobtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b1c1ce;
  border: 1px solid #4F7699;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-example:checked + .slider {
  background-color: #b1c1ce;
}

.switch-example:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch-example:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  display: block;
  width: 36px;
  height: 36px;
}

.icons-row {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 32px;
}

.icon svg {
  margin-right: 32px;
  margin-bottom: 8px;
}

.icon.icon-arrow2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M16.1094 32.4053L27.8905 22.1037' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M16.2139 11.5947L27.7858 22.1036' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
}

.card-icon {
  margin-top: 32px;
}

.card-success {
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid #007E33;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.btn-success {
  background-color: #007E33;
  border-radius: 8px;
  border: 1px solid #007E33;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
}

.btn-success:hover {
  background-color: #E9FFF2;
  border: 1px solid #007E33;
  color: #0D0D0D;
}

.btn-success-secondary {
  background-color: #FFFDFC;
  border-radius: 8px;
  border-width: 1px;
  border-color: #007E33;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #007E33;
  width: 200px;
}

.btn-success-secondary:hover {
  background-color: #E9FFF2;
  border: 1px solid #007E33;
  color: #0D0D0D;
}

.card-error {
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid #CC0100;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.btn-error {
  background-color: #CC0100;
  border-radius: 8px;
  border: 1px solid #CC0100;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
}

.btn-error:hover {
  background-color: #FFEDED;
  border: 1px solid #CC0100;
  color: #0D0D0D;
}

.btn-error-secondary {
  background-color: #FFFDFC;
  border-radius: 8px;
  border-width: 1px;
  border-color: #CC0100;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #CC0100;
  width: 200px;
}

.btn-error-secondary:hover {
  background-color: #FFEDED;
  border: 1px solid #CC0100;
  color: #0D0D0D;
}

.color-palette {
  margin: 50px;
}
.color-palette .swatches {
  display: flex;
  flex-direction: row;
}
.color-palette .swatches .swatch div {
  height: 150px;
  width: 150px;
  margin-right: 32px;
  margin-bottom: 8px;
}
.color-palette .swatches .swatch .primary-black {
  background-color: #0D0D0D;
}
.color-palette .swatches .swatch .primary-dark {
  background-color: #4F7699;
}
.color-palette .swatches .swatch .primary-light {
  background-color: #b1c1ce;
}
.color-palette .swatches .swatch .primary-light-100 {
  background-color: #DFE8EF;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
}
.color-palette .swatches .swatch .secondary-dark {
  background-color: #8C5A4F;
}
.color-palette .swatches .swatch .secondary-light {
  background-color: #F3E3D4;
}
.color-palette .swatches .swatch .secondary-light-100 {
  background-color: #FFFDFC;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
}
.color-palette .swatches .swatch .neutral-dark {
  background-color: #7B7B7B;
}
.color-palette .swatches .swatch .neutral-light {
  background-color: #c9c9c9;
}
.color-palette .swatches .swatch .neutral-white {
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
}
.color-palette .swatches .swatch .success-light {
  background-color: #E9FFF2;
}
.color-palette .swatches .swatch .success-dark {
  background-color: #007E33;
}
.color-palette .swatches .swatch .error-light {
  background-color: #FFEDED;
}
.color-palette .swatches .swatch .error-dark {
  background-color: #CC0100;
}

.nav {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  background-color: #b1c1ce;
  font-family: "Josefin Sans", sans-serif;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #0D0D0D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.nav li a:hover {
  background-color: #4F7699;
  color: #FFFFFF;
}

.nav-components {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  background-color: #DFE8EF;
}

.nav-components li {
  float: left;
}

.nav-components li a {
  display: block;
  color: #0D0D0D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
}

.nav-components li a:hover {
  background-color: #b1c1ce;
  color: #FFFFFF;
}

.nav-components li a.active-components {
  background-color: #b1c1ce;
  color: #FFFFFF;
}

.hero {
  font-family: "Josefin Sans", sans-serif;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #4F7699;
}

.heading1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #4F7699;
}

.heading2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.body-bold {
  font-size: 24px;
  font-weight: bold;
  font-family: "Baloo Chettan 2", sans-serif;
}

.body-text {
  font-size: 24px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.label {
  font-size: 20px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.caption {
  font-size: 18px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.xs {
  height: 4px;
  width: 300px;
  background-color: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 8px;
}

.sm {
  height: 8px;
  width: 300px;
  background-color: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 8px;
}

.m {
  height: 16px;
  width: 300px;
  background-color: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 8px;
}

.l {
  height: 32px;
  width: 300px;
  background-color: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 8px;
}/*# sourceMappingURL=style.css.map */