:root {
  --colour-primary-black: #0D0D0D;
  --colour-primary-dark: #4F7699;
  --colour-primary-light: #b1c1ce;
  --colour-primary-light-100: #DFE8EF;
  --colour-secondary-dark: #8C5A4F;
  --colour-secondary-light: #F3E3D4;
  --colour-secondary-light100: #FFFDFC;
  --neutral-dark: #7B7B7B;
  --neutral-light: #c9c9c9;
  --neutral-white: neutral-white;
  --success-light: #E9FFF2;
  --success-dark: #007E33;
  --error-light: #FFEDED;
  --error-dark: #CC0100;
  --warning-light: #FFF2D6;
  --warning-dark: #EB7B01;
}

.button-primary {
  background-color: #8C5A4F;
  border-radius: 5px;
  border-width: 1px;
  border-color: #8C5A4F;
  font-size: 24px;
  text-transform: uppercase;
  margin: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
}

.button-primary:hover {
  background-color: #F3E3D4;
  color: #0D0D0D;
}

button:focus {
  border: 3px solid #007E33;
}

.button-secondary {
  background-color: #FFFDFC;
  border-radius: 5px;
  border-width: 1px;
  border-color: #8C5A4F;
  font-size: 24px;
  text-transform: uppercase;
  margin: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #8C5A4F;
}

.button-secondary:hover {
  background-color: #F3E3D4;
  color: #8C5A4F;
}

.button-secondary:disabled {
  background-color: #c9c9c9;
  color: #FFFFFF;
  border: none;
}

.form-label {
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 20px;
}

.form-label-error {
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 20px;
  color: #CC0100;
}

.form-label-success {
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 20px;
  color: #007E33;
}

.form-group {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
}

.form-control {
  padding: 10px 10px;
  border: 1px solid #8C5A4F;
  border-radius: 8px;
  font-size: 24px;
  font-family: "Baloo Chettan 2", sans-serif;
  color: #8C5A4F;
  background-color: #FFFDFC;
}

.form-control:focus {
  outline: none;
  border: 3px solid #8C5A4F;
}

.error {
  border: 1px solid #CC0100;
  background-color: #FFEDED;
}

.error-feedback {
  color: #CC0100;
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 18px;
}

.error:focus {
  outline: none;
  border: 3px solid #CC0100;
}

.success {
  border: 1px solid #007E33;
  background-color: #E9FFF2;
}

.success-feedback {
  color: #007E33;
  font-family: "Baloo Chettan 2", sans-serif;
  font-size: 18px;
}

.success:focus {
  outline: none;
  border: 3px solid #007E33;
}

.form-select {
  padding: 10px 10px;
  border: 1px solid #8C5A4F;
  border-radius: 8px;
  font-size: 24px;
  font-family: "Baloo Chettan 2", sans-serif;
  color: #8C5A4F;
  background-color: #FFFDFC;
}

.form-select:focus {
  outline: none;
  border-width: 3px;
}

.dropdown {
  position: relative;
  height: 40px;
}

.dropbtn {
  cursor: pointer;
  text-align: left;
}

.dropbtn:focus {
  outline: none;
  border-width: 3px;
}

.dropdown-content {
  top: 40px;
  display: none;
  position: absolute;
  background-color: #FFFDFC;
  width: 500px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.dropdown-content a {
  color: #8C5A4F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid #8C5A4F;
  max-width: 500px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.dropdown-content a:hover {
  background-color: #F3E3D4;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #F3E3D4;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Baloo Chettan 2", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container-inline {
  display: inline !important;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  border: 1px solid #4F7699;
  border-radius: 3px;
}

.check-container input:focus ~ .checkmark {
  border: 3px solid #4F7699;
}

.check-container:hover input ~ .checkmark {
  background-color: #DFE8EF;
}

.check-container input:checked ~ .checkmark {
  background-color: #b1c1ce;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radiobtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #b1c1ce;
}

.radio-container:hover input ~ .radiobtn {
  background-color: #DFE8EF;
}

.radio-container input:checked ~ .radiobtn {
  background-color: #b1c1ce;
}

.radiobtn:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radiobtn:after {
  display: block;
}

.radio-container .radiobtn:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b1c1ce;
  border: 1px solid #4F7699;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-example:checked + .slider {
  background-color: #b1c1ce;
}

.switch-example:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch-example:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
  display: block;
  width: 36px;
  height: 36px;
}

.icons-row {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 32px;
}

.icon svg {
  margin-right: 32px;
  margin-bottom: 8px;
}

.icon-search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M18.7674 28.7771C23.7219 28.7771 27.7383 24.7524 27.7383 19.7876C27.7383 14.8228 23.7219 10.7981 18.7674 10.7981C13.8128 10.7981 9.79639 14.8228 9.79639 19.7876C9.79639 24.7524 13.8128 28.7771 18.7674 28.7771Z' fill='none' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M25.9404 24.9218L34.2034 33.2019' fill='none' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
}

.icon-profile {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M21.9998 22.5123C25.3972 22.5123 28.1514 19.9252 28.1514 16.7338C28.1514 13.5425 25.3972 10.9554 21.9998 10.9554C18.6023 10.9554 15.8481 13.5425 15.8481 16.7338C15.8481 19.9252 18.6023 22.5123 21.9998 22.5123Z' fill='none' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M21.9953 22.5123C16.7379 22.5123 12.4829 27.2293 12.4829 33.0446H31.5175C31.5175 27.2293 27.2527 22.5123 22.0051 22.5123H21.9953Z' fill='none' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
}

.icon-favourite {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M15.13 33.9954C14.8448 33.9954 14.5597 33.9031 14.3205 33.7277C13.8331 33.3769 13.6399 32.7585 13.8239 32.1862L16.1417 25.0323L10.0711 20.6016C9.58361 20.2508 9.39045 19.6323 9.57441 19.06C9.75837 18.4877 10.2827 18.1093 10.8805 18.1093H18.3768L20.6947 10.9554C20.8787 10.3831 21.403 10.0046 22.0008 10.0046C22.5987 10.0046 23.123 10.3923 23.3069 10.9554L25.6248 18.1093H33.1211C33.719 18.1093 34.2433 18.4969 34.4272 19.06C34.6112 19.6323 34.4088 20.2508 33.9306 20.6016L27.8599 25.0231L30.1778 32.1769C30.3618 32.7493 30.1594 33.3677 29.6811 33.7185C29.1936 34.0693 28.5498 34.0693 28.0623 33.7185L22.0008 29.2969L15.9302 33.7185C15.691 33.8939 15.4059 33.9862 15.1208 33.9862L15.13 33.9954ZM22.0008 27.0262L27.9979 31.3923L25.7076 24.3216L31.7047 19.9554H24.2911L22.0008 12.8846L19.7105 19.9554H12.3062L18.3033 24.3216L16.013 31.3923L22.01 27.0262H22.0008Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-cart {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M28.9557 16.213C28.6214 15.5382 28.3894 14.8498 28.1438 14.1477C27.7617 13.0503 27.3728 11.9052 26.6086 10.7668C25.3191 8.83784 23.8044 7.82904 22.2147 7.82904C20.6249 7.82904 19.1103 8.84466 17.8207 10.7668C17.0634 11.8983 16.5994 13.023 16.1491 14.1136C15.8489 14.8293 15.5624 15.5178 15.2076 16.1994C14.2251 16.2539 13.4404 17.0719 13.4404 18.0739C13.4404 19.0758 14.2865 19.9483 15.3236 19.9483C16.3606 19.9483 17.1998 19.1031 17.1998 18.0739C17.1998 17.4399 16.886 16.8742 16.4016 16.5402C16.7359 15.879 17.002 15.2247 17.2681 14.5771C17.7116 13.4933 18.1346 12.4709 18.8237 11.4417C19.8744 9.8671 21.0411 9.04233 22.2079 9.04233C23.3746 9.04233 24.5413 9.8671 25.592 11.4417C26.2675 12.4573 26.6223 13.4729 26.9839 14.543C27.2022 15.1701 27.4206 15.8109 27.7208 16.4584C27.1681 16.7788 26.7997 17.3786 26.7997 18.0739C26.7997 19.1099 27.6389 19.9483 28.676 19.9483C29.713 19.9483 30.5591 19.1031 30.5591 18.0739C30.5591 17.1264 29.8632 16.3425 28.9489 16.213H28.9557ZM15.3167 18.735C14.9483 18.735 14.6481 18.4351 14.6481 18.0739C14.6481 17.8285 14.7777 17.6172 14.9688 17.5081C15.0711 17.4399 15.1871 17.4059 15.3167 17.4059C15.5078 17.4059 15.6783 17.4877 15.7943 17.6104C15.9103 17.733 15.9785 17.8898 15.9785 18.0739C15.9785 18.4351 15.6783 18.735 15.3167 18.735ZM28.6828 18.735C28.3212 18.735 28.021 18.4351 28.021 18.0739C28.021 17.8557 28.1233 17.6581 28.2871 17.5422C28.3962 17.4604 28.5395 17.4059 28.6828 17.4059C28.8397 17.4059 28.983 17.4604 29.099 17.549C29.2559 17.6649 29.3514 17.8557 29.3514 18.0739C29.3514 18.4351 29.0512 18.735 28.6828 18.735Z' fill='%230D0D0D'/%3E%3Cpath d='M32.8175 19.9483H11.1821V36.171H32.8175V19.9483Z' fill='none' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
}

.icon-home {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M33.4379 20.3106C33.3091 20.3106 33.1746 20.2649 33.0682 20.1677C31.3819 18.6527 29.2979 16.7432 27.2867 14.8909C25.4211 13.1758 23.4939 11.4092 21.8861 9.95711C20.2839 11.3978 18.4127 13.1129 16.6032 14.7708C14.6424 16.566 12.6144 18.424 10.9281 19.939C10.6984 20.1505 10.3399 20.1219 10.1382 19.8875C9.93651 19.6532 9.95892 19.2873 10.1886 19.0815C11.8693 17.5722 13.8973 15.7141 15.8525 13.919C17.8077 12.1296 19.8301 10.2715 21.5163 8.76225L21.8861 8.43066L22.2558 8.76225C23.9421 10.2773 26.0261 12.1867 28.0374 14.039C30.0486 15.8856 32.127 17.8008 33.8077 19.3044C34.043 19.5102 34.0654 19.8761 33.8581 20.1105C33.746 20.242 33.5948 20.3049 33.4379 20.3049V20.3106Z' fill='%230D0D0D'/%3E%3Cpath d='M31.4428 35.5693H12.5576V20.3106H13.6781V34.4259H30.3223V20.3106H31.4428V35.5693Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-burger {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='none'%3E%3Cline x1='11' y1='12.6' x2='33' y2='12.6' stroke='%230D0D0D' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='11' y1='21' x2='33' y2='21' stroke='%230D0D0D' stroke-width='2' stroke-linecap='round'/%3E%3Cline x1='11' y1='29.4' x2='33' y2='29.4' stroke='%230D0D0D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.icon-delivery {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M39.5 20.0256C39.5 17.4735 37.4218 15.3967 34.8753 15.3967H29.1676V10H4.5V28.8665H8.62712C8.56126 29.159 8.52467 29.4589 8.52467 29.766C8.52467 32.0987 10.4272 34 12.7616 34C15.0959 34 16.9984 32.0987 16.9984 29.766C16.9984 29.4589 16.9618 29.159 16.896 28.8665H27.8065C27.7406 29.159 27.7041 29.4589 27.7041 29.766C27.7041 32.0987 29.6066 34 31.9409 34C34.2752 34 36.1778 32.0987 36.1778 29.766C36.1778 29.4589 36.1412 29.159 36.0754 28.8665H39.5V20.0256ZM12.7616 32.5375C11.2322 32.5375 9.98819 31.2943 9.98819 29.766C9.98819 29.4516 10.0394 29.1444 10.1419 28.8665C10.3541 28.2523 10.7785 27.7331 11.3273 27.404C11.7444 27.1481 12.2347 27.0018 12.7616 27.0018C13.2884 27.0018 13.7787 27.1481 14.1958 27.404C14.7446 27.7331 15.169 28.2523 15.3812 28.8665C15.4837 29.1444 15.5349 29.4516 15.5349 29.766C15.5349 31.2943 14.2909 32.5375 12.7616 32.5375ZM27.7041 27.404H16.274C15.513 26.2779 14.2178 25.5393 12.7616 25.5393C11.3054 25.5393 10.0101 26.2779 9.24911 27.404H5.96352V11.4625H27.7041V27.404ZM34.7143 29.766C34.7143 31.2943 33.4703 32.5375 31.9409 32.5375C30.4116 32.5375 29.1676 31.2943 29.1676 29.766C29.1676 29.4516 29.2188 29.1444 29.3212 28.8665C29.5334 28.2523 29.9579 27.7331 30.514 27.404C30.9311 27.1481 31.4214 27.0018 31.9409 27.0018C32.4605 27.0018 32.9508 27.1481 33.3679 27.404C33.924 27.7331 34.3484 28.2523 34.5606 28.8665C34.6631 29.1444 34.7143 29.4516 34.7143 29.766ZM38.0365 27.404H35.4534C34.6923 26.2779 33.3971 25.5393 31.9409 25.5393C30.8799 25.5393 29.9066 25.9342 29.1676 26.5777V16.8592H34.8753C36.6169 16.8592 38.0365 18.2779 38.0365 20.0256V27.404Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-payment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M33.8941 21.7011H32.4936L33.1153 24.3121H34.5158L33.8941 21.7011ZM32.9513 17.7641L31.0999 10L6 16.067L9.77114 31.8563L12.1896 31.2723L13.5559 30.9425V29.5202L12.1896 29.8569L10.7822 30.1935L7.64646 17.0839L30.0888 11.6559L31.5508 17.7641L31.8787 19.1383H33.2792L32.9513 17.7641Z' fill='%230D0D0D'/%3E%3Cpath d='M12.1895 17.7641V34H37.9999V17.7641H12.1895ZM36.6335 32.6258H13.5558V19.1383H36.6335V32.6258Z' fill='%230D0D0D'/%3E%3Cpath d='M37.3166 21.7011H12.8726V24.312H37.3166V21.7011Z' fill='%230D0D0D'/%3E%3Cpath d='M34.8777 28.1735H32.0425V31.0249H34.8777V28.1735Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-store {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M23.2637 22.7502V29.5755H30.0152V22.7502H23.2637ZM28.6345 28.1797H24.6443V24.146H28.6345V28.1797Z' fill='%230D0D0D'/%3E%3Cpath d='M13.9854 22.7502V34H21.793V22.7502H13.9854ZM15.366 32.6043V24.146H20.4124V32.6043H15.366Z' fill='%230D0D0D'/%3E%3Cpath d='M32.6448 19.1003C32.5136 19.1003 32.3825 19.0864 32.2582 19.0654V32.6042H11.7483V19.0654C11.6241 19.0864 11.4929 19.1003 11.3549 19.1003C10.9959 19.1003 10.6576 19.0166 10.3677 18.863V34H33.6389V18.863C33.3489 19.0166 33.0107 19.1003 32.6448 19.1003Z' fill='%230D0D0D'/%3E%3Cpath d='M34.2535 11.0678C33.8669 10.4117 33.1558 10 32.4034 10H11.5966C10.8511 10 10.14 10.4117 9.74655 11.0678C8.6075 12.9799 8 15.1503 8 17.3347C8 18.7584 9.00099 19.9587 10.3679 20.3565C10.6854 20.4472 11.0099 20.4961 11.355 20.4961C11.4862 20.4961 11.6174 20.4891 11.7485 20.4751C12.6736 20.3705 13.4813 19.9168 14.0128 19.2539C14.6272 20.0076 15.5937 20.4961 16.6775 20.4961C17.7613 20.4961 18.7278 20.0076 19.3353 19.2539C19.9497 20.0076 20.9162 20.4961 22 20.4961C23.0838 20.4961 24.0503 20.0076 24.6647 19.2539C25.2722 20.0076 26.2387 20.4961 27.3225 20.4961C28.4063 20.4961 29.3728 20.0076 29.9872 19.2539C30.5256 19.9168 31.3333 20.3774 32.2584 20.4751C32.3826 20.4891 32.5138 20.4961 32.645 20.4961C32.9901 20.4961 33.3215 20.4472 33.6391 20.3565C35.0059 19.9587 36 18.7514 36 17.3347C36 15.1503 35.3994 12.9799 34.2535 11.0678ZM33.6391 18.863C33.3491 19.0166 33.0108 19.1003 32.645 19.1003C32.5138 19.1003 32.3826 19.0864 32.2584 19.0654C31.3609 18.9049 30.6775 18.1861 30.6775 17.3347H29.2968C29.2968 18.3047 28.4132 19.1003 27.3225 19.1003C26.2318 19.1003 25.355 18.3047 25.355 17.3347H23.9744C23.9744 18.3047 23.0907 19.1003 22 19.1003C20.9093 19.1003 20.0256 18.3047 20.0256 17.3347H18.645C18.645 18.3047 17.7613 19.1003 16.6775 19.1003C15.5937 19.1003 14.7032 18.3047 14.7032 17.3347H13.3225C13.3225 18.1861 12.646 18.8979 11.7485 19.0654C11.6243 19.0864 11.4931 19.1003 11.355 19.1003C10.9961 19.1003 10.6578 19.0166 10.3679 18.863C9.77416 18.556 9.38067 17.9837 9.38067 17.3347C9.38067 15.4016 9.91913 13.4824 10.927 11.7866C11.072 11.5423 11.3274 11.3958 11.5966 11.3958H32.4034C32.6726 11.3958 32.928 11.5493 33.073 11.7866C34.0878 13.4824 34.6193 15.4016 34.6193 17.3347C34.6193 17.9837 34.2258 18.549 33.6391 18.863Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-questions {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M22 34C28.6274 34 34 28.6274 34 22C34 15.3726 28.6274 10 22 10C15.3726 10 10 15.3726 10 22C10 28.6274 15.3726 34 22 34Z' fill='none' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M20.7014 24.5865C20.7014 24.048 20.8168 23.548 21.0572 23.0769C21.2976 22.6153 21.586 22.2211 21.9418 21.8846C22.2879 21.5576 22.6341 21.2307 22.9706 20.9134C23.3072 20.5961 23.5956 20.2596 23.836 19.8942C24.0764 19.5288 24.1918 19.1538 24.1918 18.7596C24.1918 18.2019 23.9995 17.7788 23.6149 17.4807C23.2302 17.1826 22.7206 17.0384 22.0668 17.0384C21.4129 17.0384 20.9129 17.1923 20.461 17.5096C20.0091 17.8269 19.6918 18.2788 19.4899 18.8557L17.5283 17.75C17.8937 16.8076 18.4995 16.0865 19.3168 15.5769C20.1437 15.0673 21.0764 14.8173 22.1149 14.8173C23.2879 14.8173 24.3072 15.1538 25.1629 15.8269C26.0187 16.5 26.4514 17.4326 26.4514 18.6153C26.4514 19.173 26.336 19.6923 26.0956 20.173C25.8552 20.6538 25.5668 21.0673 25.211 21.4038C24.8649 21.7403 24.5187 22.0769 24.1822 22.4038C23.8456 22.7307 23.5572 23.0769 23.3168 23.4519C23.0764 23.8173 22.961 24.1923 22.961 24.5769H20.6822L20.7014 24.5865ZM22.9033 28.75C22.6149 29.0384 22.2591 29.1826 21.8552 29.1826C21.4514 29.1826 21.0956 29.0384 20.8072 28.75C20.5187 28.4615 20.3745 28.1057 20.3745 27.7019C20.3745 27.298 20.5187 26.9423 20.7976 26.6538C21.0764 26.3653 21.4322 26.2211 21.8552 26.2211C22.2783 26.2211 22.6149 26.3653 22.9033 26.6538C23.1918 26.9423 23.336 27.298 23.336 27.7019C23.336 28.1057 23.1918 28.4615 22.9033 28.75Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-error {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49 44' fill='none'%3E%3Cpath d='M13.373 33.0758H35.6256C36.7529 33.0758 37.4494 31.8481 36.8812 30.8696L25.7549 11.6512C25.1958 10.6819 23.8028 10.6819 23.2437 11.6512L12.1174 30.8696C11.5492 31.8481 12.2549 33.0758 13.373 33.0758Z' fill='none' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M24.4718 17.6142C25.3333 17.6142 25.6999 17.7988 25.6999 18.1865C25.6999 18.4819 25.6266 18.8696 25.5258 19.5988C25.2417 21.6019 25.0492 23.6604 24.8384 25.8665C24.7376 25.9957 24.151 25.9957 24.0685 25.8665C23.8669 23.6511 23.6928 21.6019 23.3812 19.5988C23.2804 18.8696 23.207 18.4819 23.207 18.1865C23.207 17.7988 23.592 17.6142 24.4351 17.6142H24.4626H24.4718ZM24.4443 29.6511C23.7569 29.6511 23.2437 29.2173 23.2437 28.5619C23.2437 27.9434 23.7569 27.4727 24.4718 27.4727C25.1867 27.4727 25.7457 27.9434 25.7457 28.5619C25.7457 29.2173 25.2142 29.6511 24.4718 29.6511H24.4443Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-arrow2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M16.1094 32.4053L27.8905 22.1037' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M16.2139 11.5947L27.7858 22.1036' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
}

.icon-arrow1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M25.8276 22.0068L9.91596 22.0068' fill='none' stroke='%230D0D0D' stroke-miterlimit='10'/%3E%3Cpath d='M34.084 22.0068C30.2018 20.5578 25.39 18.0973 22.3963 15.5L24.7475 22.0068L22.3963 28.5C25.39 25.9027 30.2018 23.4422 34.084 22.0068Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-arrow3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M22 27.4167L13.3397 19.2917L30.6603 19.2917L22 27.4167Z' fill='%230D0D0D'/%3E%3C/svg%3E");
}

.icon-tick {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M15.564 17.9149L20.6229 25.6411L34.0001 12.2429' stroke='%23000000' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M32.026 21.505C32.0536 22.0602 32.026 22.6154 31.9709 23.189C31.3191 29.2867 25.8929 33.7003 19.8424 33.0433C13.7919 32.3864 9.41241 26.9087 10.0643 20.8111C10.7162 14.7134 16.1423 10.2998 22.1928 10.9568C23.7261 11.1233 25.1492 11.5952 26.4071 12.3077' stroke='%23000000' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
}

td, th {
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}

.card-icon {
  margin: 32px auto 0;
  width: 50px;
  height: 50px;
}

.card-success {
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid #007E33;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.btn-success {
  background-color: #007E33;
  border-radius: 8px;
  border: 1px solid #007E33;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
}

.btn-success:hover {
  background-color: #E9FFF2;
  border: 1px solid #007E33;
  color: #0D0D0D;
}

.btn-success-secondary {
  background-color: #FFFDFC;
  border-radius: 8px;
  border-width: 1px;
  border-color: #007E33;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #007E33;
  width: 200px;
}

.btn-success-secondary:hover {
  background-color: #E9FFF2;
  border: 1px solid #007E33;
  color: #0D0D0D;
}

.card-error {
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid #CC0100;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.btn-error {
  background-color: #CC0100;
  border-radius: 8px;
  border: 1px solid #CC0100;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
}

.btn-error:hover {
  background-color: #FFEDED;
  border: 1px solid #CC0100;
  color: #0D0D0D;
}

.btn-error-secondary {
  background-color: #FFFDFC;
  border-radius: 8px;
  border-width: 1px;
  border-color: #CC0100;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #CC0100;
  width: 200px;
}

.btn-error-secondary:hover {
  background-color: #FFEDED;
  border: 1px solid #CC0100;
  color: #0D0D0D;
}

.card-warning {
  max-width: 300px;
  margin: 16px;
  padding: 16px;
  text-align: center;
  border: 1px solid #EB7B01;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.btn-warning {
  background-color: #EB7B01;
  border-radius: 8px;
  border: 1px solid #EB7B01;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  width: 200px;
}

.btn-warning:hover {
  background-color: #FFF2D6;
  border: 1px solid #EB7B01;
  color: #0D0D0D;
}

.btn-warning-secondary {
  background-color: #FFFDFC;
  border-radius: 8px;
  border-width: 1px;
  border-color: #EB7B01;
  font-size: 24px;
  text-transform: uppercase;
  margin: 8px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #EB7B01;
  width: 200px;
}

.btn-warning-secondary:hover {
  background-color: #FFF2D6;
  border: 1px solid #EB7B01;
  color: #0D0D0D;
}

.color-palette {
  margin: 50px;
}
.color-palette .swatches {
  display: flex;
  flex-direction: row;
}
.color-palette .swatches .swatch div {
  height: 150px;
  width: 150px;
  margin-right: 32px;
  margin-bottom: 8px;
}
.color-palette .swatches .swatch .primary-black {
  background-color: #0D0D0D;
}
.color-palette .swatches .swatch .primary-dark {
  background-color: #4F7699;
}
.color-palette .swatches .swatch .primary-light {
  background-color: #b1c1ce;
}
.color-palette .swatches .swatch .primary-light-100 {
  background-color: #DFE8EF;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
}
.color-palette .swatches .swatch .secondary-dark {
  background-color: #8C5A4F;
}
.color-palette .swatches .swatch .secondary-light {
  background-color: #F3E3D4;
}
.color-palette .swatches .swatch .secondary-light-100 {
  background-color: #FFFDFC;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
}
.color-palette .swatches .swatch .neutral-dark {
  background-color: #7B7B7B;
}
.color-palette .swatches .swatch .neutral-light {
  background-color: #c9c9c9;
}
.color-palette .swatches .swatch .neutral-white {
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
}
.color-palette .swatches .swatch .success-light {
  background-color: #E9FFF2;
}
.color-palette .swatches .swatch .success-dark {
  background-color: #007E33;
}
.color-palette .swatches .swatch .error-light {
  background-color: #FFEDED;
}
.color-palette .swatches .swatch .error-dark {
  background-color: #CC0100;
}
.color-palette .swatches .swatch .warning-light {
  background-color: #FFF2D6;
}
.color-palette .swatches .swatch .warning-dark {
  background-color: #EB7B01;
}

.nav {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  background-color: #b1c1ce;
  font-family: "Josefin Sans", sans-serif;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #0D0D0D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.nav li a:hover {
  background-color: #4F7699;
  color: #FFFFFF;
}

.nav-components {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  background-color: #DFE8EF;
}

.nav-components li {
  float: left;
}

.nav-components li a {
  display: block;
  color: #0D0D0D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
}

.nav-components li a:hover {
  background-color: #b1c1ce;
  color: #FFFFFF;
}

.nav-components li a.active-components {
  background-color: #b1c1ce;
  color: #FFFFFF;
}

.hero {
  font-family: "Josefin Sans", sans-serif;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #4F7699;
}

.heading1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  font-weight: 400;
  color: #4F7699;
}

.heading2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.body-bold {
  font-size: 24px;
  font-weight: bold;
  font-family: "Baloo Chettan 2", sans-serif;
}

.body-text {
  font-size: 24px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.label {
  font-size: 20px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.caption {
  font-size: 18px;
  font-family: "Baloo Chettan 2", sans-serif;
}

.xs {
  height: 4px;
  width: 300px;
  background-color: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 8px;
}

.sm {
  height: 8px;
  width: 300px;
  background-color: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 8px;
}

.m {
  height: 16px;
  width: 300px;
  background-color: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 8px;
}

.l {
  height: 32px;
  width: 300px;
  background-color: #c9c9c9;
  margin-top: 16px;
  margin-bottom: 8px;
}/*# sourceMappingURL=style.css.map */