@use "../../foundations/index.scss" as *;

.button-primary {
    background-color: $colour-secondary-dark;
    border-radius: 5px;
    border-width: 1px;
    border-color: $colour-secondary-dark;
    font-size: $body-text-size;
    text-transform: uppercase;
    margin: $spacing-l;
    padding: $spacing-m;
    font-family: $font-family;
    color: $neutral-white;
}
.button-primary:hover {
    background-color: $colour-secondary-light;
    color: $colour-primary-black;
}