<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/custom.css">
</head>

<body>
    <main>
        <script src="/Project_1/include-nav.js"></script>
        <!-- Include nav.html -->
        <div data-include="/Project_1/docs/nav.html"></div>

        <ul class="nav-components">
            <li><a href="button.html" class="active-components">Buttons</a></li>
            <li><a href="../inputs/input.html">Inputs</a></li>
            <li><a href="../messages/messages.html">Feedback Messages</a></li>
        </ul>

        <section>
            <h2 class="heading2">Buttons</h2>
            <div>
                <h2 class="body-bold">Primary button</h2>
                <p class="body-text">To use the primary button in your design, use the class
                    <span class="body-bold">.button-primary</span>. The styles of this class can be modified as needed
                    in the button.scss file.
                </p>
                <button class="button-primary">Primary button</button>

                <textarea class="code" readonly><button class="button-primary">Primary button</button></textarea>
            </div>
            <div>
                <h2 class="body-bold">Secondary button</h2>
                <p class="body-text">To use the primary button in your design, use the class
                    <span class="body-bold">.button-secondary</span>. The styles of this class can be modified as needed
                    in the button.scss file.
                </p>
                <button class="button-secondary">Secondary button</button>

                <textarea class="code" readonly><button class="button-secondary">Secondary button</button></textarea>
            </div>
            <div>
                <h2 class="body-bold">Disabled button</h2>
                <p class="body-text">Make buttons look inactive by adding the <span class="body-bold">disabled</span> boolean attribute to any button element. 
                </p>
                <button class="button-secondary" disabled>Secondary button</button>
                <textarea class="code" readonly><button class="button-secondary" disabled>Disabled button</button></textarea>
            </div>
        </section>
    </main>
</body>

</html>