<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <script src="/Project_1/include-nav.js"></script>
    <!-- Include nav.html -->
    <div data-include="/Project_1/docs/nav.html"></div>

    <ul class="nav-components">
        <li><a href="button.html" class="active">Buttons</a></li>
        <li><a href="../inputs/input.html">Inputs</a></li>
        <li><a href="#">Dropdowns</a></li>

    </ul>

    <section>
        <h2>Primary button</h2>
        <button class="button-primary">Primary button</button>
    </section>


</body>

</html>