<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/custom.css">
</head>

<body>
    <main>
        <script src="/Project_1/include-nav.js"></script>
        <!-- Include nav.html -->
        <div data-include="/Project_1/docs/nav.html"></div>

        <ul class="nav-components">
            <li><a href="button.html" class="active-components">Buttons</a></li>
            <li><a href="../inputs/input.html">Inputs</a></li>
            <li><a href="../messages/messages.html">Feedback Messages</a></li>
        </ul>

        <section>
            <div class="heading1">Buttons</div>
            <p class="body-text">
                This design system includes three button types: primary, secondary, and disabled.
            </p>

            <!-- primary button -->
            <div class="block">
                <h2 class="heading2">Primary button</h2>
                <p class="body-text">To use the primary button in your design, use the class
                    <code class="intext-code">.button-primary</code>. In Your HTML use <code class="intext-code">class="button-primary"</code>
                </p>
                <p class="body-text">Example:</p>
                <button class="button-primary">Primary button</button>

                <textarea class="code" readonly><button class="button-primary">Primary button</button></textarea>
            </div>

            <!-- secondary button -->
            <div class="block">
                <h2 class="heading2">Secondary button</h2>
                <p class="body-text">To use the primary button in your design, use the class
                    <code class="intext-code">.button-secondary</code>. 
                    In Your HTML use <code class="intext-code">class="button-secondary"</code>
                </p>
                <p class="body-text">Example:</p>
                <button class="button-secondary">Secondary button</button>

                <textarea class="code" readonly><button class="button-secondary">Secondary button</button></textarea>
            </div>

            <!-- disabled button -->
            <div class="block">
                <h2 class="heading2">Disabled button</h2>
                <p class="body-text">Make buttons look inactive by adding the <code class="intext-code">desabled</code> attribute to any button element in your HTML. 
                </p>
                <p class="body-text">Example:</p>
                <button class="button-secondary" disabled>Secondary button</button>
                <textarea class="code" readonly><button class="button-secondary" disabled>Disabled button</button></textarea>
            </div>
        </section>
    </main>
</body>

</html>