<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <script src="/Project_1/include-nav.js"></script>
    <!-- Include nav.html -->
    <div data-include="/Project_1/docs/nav.html"></div>

    <ul class="nav-components">
        <li><a href="button/button.html">Buttons</a></li>
        <li><a href="input.html" class="active-components">Inputs</a></li>
        <li><a href="#">Dropdowns</a></li>
    </ul>

    <section>
        <h2>Input</h2>
        <div class="inputs">
            <label for="firstname">First Name:</label><br>
            <input type="text" id="firtsname" name="firstname" class="input"><br>
        </div>
        <div class="inputs">
                <label for="disabled-input">Disabled</label>
                <input type="text" id="disabled-input" name="disabledInput" class="input" disabled>
        </div>

    </section>


</body>

</html>