<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/custom.css">
</head>

<body>
    <main>
        <script src="/Project_1/include-nav.js"></script>
        <!-- Include nav.html -->
        <div data-include="/Project_1/docs/nav.html"></div>

        <ul class="nav-components">
            <li><a href="../button/button.html">Buttons</a></li>
            <li><a href="input.html" class="active-components">Inputs</a></li>
            <li><a href="../messages/messages.html">Feedback Messages</a></li>
        </ul>

        <section>
            <div class="heading1">Form Inputs</div>
            <p class="body-text">
                This Design System includes essential form input components such as labels,
                text inputs, textareas, select dropdowns, radio buttons, and checkboxes.
            </p>
            <div class="block">
                <div class="heading2">
                    Form Controls
                </div>
                <div class="form-group">
                    <label for="input-regular" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="input-regular" placeholder="Your Name">
                </div>

                <div class="form-group">
                    <label for="input-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="input-email" placeholder="e.g. yourname@gmail.com">
                </div>

                <div class="form-group">
                    <label for="input-email" class="form-label-error">Email</label>
                    <input type="email" class="form-control error" id="input-email" placeholder="e.g. yourname@gmail.com">
                    <div class="error-feedback">Please provide valid email</div>
                </div>

            </div>



        </section>

    </main>
</body>

</html>