<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
    <script src="include-nav.js"></script>
    <!-- Include nav.html -->
    <div data-include="../../../docs/nav.html"></div>

    <ul class="nav-components">
        <li><a href="button/button.html">Buttons</a></li>
        <li><a href="#">Inputs</a></li>
        <li><a href="#">Dropdowns</a></li>
    </ul>

    <section>
        <h2>Input</h2>
        input here
    </section>


</body>

</html>