@use "../../foundations/index.scss" as *; 

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
  }

  .form-label {
    font-family: $font-family-regular;
    font-size: $body-label-size;
  }
.form-control {
    padding: 14px 16px;
    border: 1px solid $colour-secondary-dark;
    font-size: $body-text-size;
    font-family: $font-family-regular;

} 