@use "../../foundations/index.scss" as *; 

.form-group {
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
  }

  .form-label {
    font-family: $font-family-regular;
    font-size: $body-label-size;
  }

  .form-label-error {
    font-family: $font-family-regular;
    font-size: $body-label-size;
    color: $error-dark;
  }

  .form-label-success {
    font-family: $font-family-regular;
    font-size: $body-label-size;
    color: $success-dark;
  }

.form-control {
    padding: 10px 10px;
    border: 1px solid $colour-secondary-dark;
    border-radius: $spacing-sm;
    font-size: $body-text-size;
    font-family: $font-family-regular;
    color: $colour-secondary-dark;
    background-color: $colour-secondary-light100;
} 

.form-control:focus {
    outline: none;
    border: 2px solid $colour-secondary-dark;
}

.error {
    border: 1px solid $error-dark;
    background-color: $error-light;
}

.error-feedback {
    color: $error-dark;
    font-family: $font-family-regular;
    font-size: $body-caption-size;
}

.success {
    border: 1px solid $success-dark;
    background-color: $success-light;
}

.success-feedback {
    color: $success-dark;
    font-family: $font-family-regular;
    font-size: $body-caption-size;
}

.form-select {
    padding: 10px 10px;
    border: 1px solid $colour-secondary-dark;
    border-radius: $spacing-sm;
    font-size: $body-text-size;
    font-family: $font-family-regular;
    color: $colour-secondary-dark;
    background-color: $colour-secondary-light100;
}

 