<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/custom.css">
</head>

<body>
    <main>
        <script src="/Project_1/include-nav.js"></script>
        <!-- Include nav.html -->
        <div data-include="/Project_1/docs/nav.html"></div>

        <ul class="nav-components">
            <li><a href="../button/button.html">Buttons</a></li>
            <li><a href="../inputs/input.html">Inputs</a></li>
            <li><a href="messages.html" class="active-components">Feedback Messages</a></li>
            <li><a href="../icons/icons.html" >Basic Icons</a></li>
        </ul>

        <section>
            <div class="heading1">Feedback Messages</div>
            <p class="body-text">
                Message components provide contextual system feedback in response to user actions. 
                The system includes success, error, and warning message variations.
            </p>

            <!-- success message -->
            <div class="card-success">
                <div class="card-icon">
                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.564 17.9149L20.6229 25.6411L34.0001 12.2429" stroke="black" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                        <path d="M32.026 21.505C32.0536 22.0602 32.026 22.6154 31.9709 23.189C31.3191 29.2867 25.8929 33.7003 19.8424 33.0433C13.7919 32.3864 9.41241 26.9087 10.0643 20.8111C10.7162 14.7134 16.1423 10.2998 22.1928 10.9568C23.7261 11.1233 25.1492 11.5952 26.4071 12.3077" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                        </svg>
                </div>
                <div class="body-bold">Success</div>
                <p class="body-text">Any explanatory text here</p>
                <button class="button-primary btn-success">Ok</button>
            </div>
          
        
        </section>
    </main>
</body>

</html>