<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/custom.css">
</head>

<body>
    <main>
        <script src="/Project_1/include-nav.js"></script>
        <!-- Include nav.html -->
        <div data-include="/Project_1/docs/nav.html"></div>

        <ul class="nav-components">
            <li><a href="../button/button.html">Buttons</a></li>
            <li><a href="../inputs/input.html">Inputs</a></li>
            <li><a href="messages.html" class="active-components">Feedback Messages</a></li>
            <li><a href="../icons/icons.html" >Basic Icons</a></li>
        </ul>

        <section>
            <div class="heading1">Feedback Messages</div>
            <p class="body-text">
                Message components provide contextual system feedback in response to user actions. 
                The system includes success, error, and warning message variations.
            </p>

            <!-- success message -->
             <div class="block">
            <div class="heading2">Success Message</div>
            <p class="body-text">To use success message in your design, use the class
                <code class="intext-code">.card-success</code> for the container element. In Your HTML use <code
                    class="intext-code">class=".card-success"</code>. Use class <code class="intext-code">.card-icon</code> for the icon wrapper. 
                    In your HTML use <code class="intext-code">class="card-icon"</code>. For success button use class 
                    <code class="intext-code">.btn-success</code>. In your HTML use <code class="intext-code">class="btn-success"</code>.
                    You can also use secondary button in your message. To do this apply <code class="intext-code">.btn-success-secondary</code> class to your button element.
                    In your HTML use <code class="intext-code">class="btn-success-secondary"</code>.
            </p>
            <p class="body-text">Example:</p>
            <div class="card-success">
                <div class="card-icon">
                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.564 17.9149L20.6229 25.6411L34.0001 12.2429" stroke="black" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                        <path d="M32.026 21.505C32.0536 22.0602 32.026 22.6154 31.9709 23.189C31.3191 29.2867 25.8929 33.7003 19.8424 33.0433C13.7919 32.3864 9.41241 26.9087 10.0643 20.8111C10.7162 14.7134 16.1423 10.2998 22.1928 10.9568C23.7261 11.1233 25.1492 11.5952 26.4071 12.3077" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                        </svg>
                </div>
                <div class="body-bold">Success</div>
                <p class="body-text">Any explanatory text here</p>
                <button class="btn-success">Ok</button> 
                <button class="btn-success-secondary">Skip</button>
            </div>

            <textarea class="code code-h250" readonly>
                <div class="card-success">
                    <div class="card-icon">
                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.564 17.9149L20.6229 25.6411L34.0001 12.2429" stroke="black" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                            <path d="M32.026 21.505C32.0536 22.0602 32.026 22.6154 31.9709 23.189C31.3191 29.2867 25.8929 33.7003 19.8424 33.0433C13.7919 32.3864 9.41241 26.9087 10.0643 20.8111C10.7162 14.7134 16.1423 10.2998 22.1928 10.9568C23.7261 11.1233 25.1492 11.5952 26.4071 12.3077" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
                            </svg>
                    </div>
                    <div class="body-bold">Success</div>
                    <p class="body-text">Any explanatory text here</p>
                    <button class="btn-success">Ok</button>
                    <button class="btn-success-secondary">Skip</button>
                </div>
            </textarea>
        </div>

             <!-- error message -->
             <div class="block">
                <div class="heading2">Error Message</div>
                <p class="body-text">To use error message in your design, use the class
                    <code class="intext-code">.card-error</code> for the container element. In Your HTML use <code
                        class="intext-code">class="card-error"</code>. Use class <code class="intext-code">.card-icon</code> for the icon wrapper. 
                        In your HTML use <code class="intext-code">class="card-icon"</code>. For error button use additional class 
                        <code class="intext-code">.btn-error</code>. In your HTML use <code class="intext-code">class="btn-error"</code>.
                        You can also use secondary button in your message. To do this apply <code class="intext-code">.btn-error-secondary</code> class to your button element.
                    In your HTML use <code class="intext-code">class="btn-error-secondary"</code>.
                </p>
                <p class="body-text">Example:</p>
                <div class="card-error">
                    <div class="card-icon">
                        <svg width="49" height="44" viewBox="0 0 49 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.373 33.0758H35.6256C36.7529 33.0758 37.4494 31.8481 36.8812 30.8696L25.7549 11.6512C25.1958 10.6819 23.8028 10.6819 23.2437 11.6512L12.1174 30.8696C11.5492 31.8481 12.2549 33.0758 13.373 33.0758Z"
                                stroke="#0D0D0D" stroke-width="2" stroke-miterlimit="10" />
                            <path
                                d="M24.4718 17.6142C25.3333 17.6142 25.6999 17.7988 25.6999 18.1865C25.6999 18.4819 25.6266 18.8696 25.5258 19.5988C25.2417 21.6019 25.0492 23.6604 24.8384 25.8665C24.7376 25.9957 24.151 25.9957 24.0685 25.8665C23.8669 23.6511 23.6928 21.6019 23.3812 19.5988C23.2804 18.8696 23.207 18.4819 23.207 18.1865C23.207 17.7988 23.592 17.6142 24.4351 17.6142H24.4626H24.4718ZM24.4443 29.6511C23.7569 29.6511 23.2437 29.2173 23.2437 28.5619C23.2437 27.9434 23.7569 27.4727 24.4718 27.4727C25.1867 27.4727 25.7457 27.9434 25.7457 28.5619C25.7457 29.2173 25.2142 29.6511 24.4718 29.6511H24.4443Z"
                                fill="#0D0D0D" />
                        </svg>
                    </div>
                    <div class="body-bold">Error</div>
                    <p class="body-text">Any explanatory text here</p>
                    <button class="btn-error">Try again</button>
                    <button class="btn-error-secondary">Dismiss</button>

                </div>
    
                <textarea class="code code-h300" readonly>
                    <div class="card-error">
                        <div class="card-icon">
                            <svg width="49" height="44" viewBox="0 0 49 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.373 33.0758H35.6256C36.7529 33.0758 37.4494 31.8481 36.8812 30.8696L25.7549 11.6512C25.1958 10.6819 23.8028 10.6819 23.2437 11.6512L12.1174 30.8696C11.5492 31.8481 12.2549 33.0758 13.373 33.0758Z"
                                    stroke="#0D0D0D" stroke-width="2" stroke-miterlimit="10" />
                                <path
                                    d="M24.4718 17.6142C25.3333 17.6142 25.6999 17.7988 25.6999 18.1865C25.6999 18.4819 25.6266 18.8696 25.5258 19.5988C25.2417 21.6019 25.0492 23.6604 24.8384 25.8665C24.7376 25.9957 24.151 25.9957 24.0685 25.8665C23.8669 23.6511 23.6928 21.6019 23.3812 19.5988C23.2804 18.8696 23.207 18.4819 23.207 18.1865C23.207 17.7988 23.592 17.6142 24.4351 17.6142H24.4626H24.4718ZM24.4443 29.6511C23.7569 29.6511 23.2437 29.2173 23.2437 28.5619C23.2437 27.9434 23.7569 27.4727 24.4718 27.4727C25.1867 27.4727 25.7457 27.9434 25.7457 28.5619C25.7457 29.2173 25.2142 29.6511 24.4718 29.6511H24.4443Z"
                                    fill="#0D0D0D" />
                            </svg>
                        </div>
                        <div class="body-bold">Error</div>
                        <p class="body-text">Any explanatory text here</p>
                        <button class="btn-error">Try again</button>
                        <button class="btn-error-secondary">Dismiss</button>
                    </div>
                </textarea>
            </div>

                <!-- warning message -->
                <div class="block">
                    <div class="heading2">Warning Message</div>
                    <p class="body-text">To use warning message in your design, use the class
                        <code class="intext-code">.card-warning</code> for the container element. In Your HTML use <code
                            class="intext-code">class="card-warning"</code>. Use class <code class="intext-code">.card-icon</code> for the icon wrapper. 
                            In your HTML use <code class="intext-code">class="card-icon"</code>. For warning button use additional class 
                            <code class="intext-code">.btn-warning</code>. In your HTML use <code class="intext-code">class="btn-warning"</code>.
                            You can also use secondary button in your message. To do this apply <code class="intext-code">.btn-warning-secondary</code> class to your button element.
                        In your HTML use <code class="intext-code">class="btn-warning-secondary"</code>.
                    </p>
                    <p class="body-text">Example:</p>
                    <div class="card-warning">
                        <div class="card-icon">
                            <svg width="49" height="44" viewBox="0 0 49 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.373 33.0758H35.6256C36.7529 33.0758 37.4494 31.8481 36.8812 30.8696L25.7549 11.6512C25.1958 10.6819 23.8028 10.6819 23.2437 11.6512L12.1174 30.8696C11.5492 31.8481 12.2549 33.0758 13.373 33.0758Z"
                                    stroke="#0D0D0D" stroke-width="2" stroke-miterlimit="10" />
                                <path
                                    d="M24.4718 17.6142C25.3333 17.6142 25.6999 17.7988 25.6999 18.1865C25.6999 18.4819 25.6266 18.8696 25.5258 19.5988C25.2417 21.6019 25.0492 23.6604 24.8384 25.8665C24.7376 25.9957 24.151 25.9957 24.0685 25.8665C23.8669 23.6511 23.6928 21.6019 23.3812 19.5988C23.2804 18.8696 23.207 18.4819 23.207 18.1865C23.207 17.7988 23.592 17.6142 24.4351 17.6142H24.4626H24.4718ZM24.4443 29.6511C23.7569 29.6511 23.2437 29.2173 23.2437 28.5619C23.2437 27.9434 23.7569 27.4727 24.4718 27.4727C25.1867 27.4727 25.7457 27.9434 25.7457 28.5619C25.7457 29.2173 25.2142 29.6511 24.4718 29.6511H24.4443Z"
                                    fill="#0D0D0D" />
                            </svg>
                        </div>
                        <div class="body-bold">Warning</div>
                        <p class="body-text">Any explanatory text here</p>
                        <button class="btn-warning">Ok</button>
                        <button class="btn-warning-secondary">Dismiss</button>
                    </div>
        
                    <textarea class="code code-h300" readonly>
                        <div class="card-warning">
                            <div class="card-icon">
                                <svg width="49" height="44" viewBox="0 0 49 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.373 33.0758H35.6256C36.7529 33.0758 37.4494 31.8481 36.8812 30.8696L25.7549 11.6512C25.1958 10.6819 23.8028 10.6819 23.2437 11.6512L12.1174 30.8696C11.5492 31.8481 12.2549 33.0758 13.373 33.0758Z"
                                        stroke="#0D0D0D" stroke-width="2" stroke-miterlimit="10" />
                                    <path
                                        d="M24.4718 17.6142C25.3333 17.6142 25.6999 17.7988 25.6999 18.1865C25.6999 18.4819 25.6266 18.8696 25.5258 19.5988C25.2417 21.6019 25.0492 23.6604 24.8384 25.8665C24.7376 25.9957 24.151 25.9957 24.0685 25.8665C23.8669 23.6511 23.6928 21.6019 23.3812 19.5988C23.2804 18.8696 23.207 18.4819 23.207 18.1865C23.207 17.7988 23.592 17.6142 24.4351 17.6142H24.4626H24.4718ZM24.4443 29.6511C23.7569 29.6511 23.2437 29.2173 23.2437 28.5619C23.2437 27.9434 23.7569 27.4727 24.4718 27.4727C25.1867 27.4727 25.7457 27.9434 25.7457 28.5619C25.7457 29.2173 25.2142 29.6511 24.4718 29.6511H24.4443Z"
                                        fill="#0D0D0D" />
                                </svg>
                            </div>
                            <div class="body-bold">Warning</div>
                            <p class="body-text">Any explanatory text here</p>
                            <button class="btn-warning">Ok</button>
                            <button class="btn-warning-secondary">Dismiss</button>
                        </div>
                    </textarea>
                </div>
          
        
        </section>
    </main>
</body>

</html>