<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

    <script src="/Project_1/include-nav.js"></script>
    <!-- Include nav.html -->
    <div data-include="/Project_1/docs/nav.html"></div>

    <!-- nav -->
    <!-- <ul class="nav">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../../docs/colours.html">Colors</a></li>
        <li><a href="../../docs/typography.html">Typography</a></li>
        <li><a href="../../docs/spacing.html">Spacing</a></li>
        <li><a href="./components.html">Components</a></li>
    </ul> -->

    <!-- <ul class="nav-components">
        <li><a href="./button/button.html">Buttons</a></li>
        <li><a href="#">Inputs</a></li>
        <li><a href="#">Dropdowns</a></li>
    </ul> -->

    <section>
        <h2>Components</h2>
    </section>


</body>

</html>