<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/custom.css">
</head>

<body>
    <main>

        <script src="/Project_1/include-nav.js"></script>
        <!-- Include nav.html -->
        <div data-include="/Project_1/docs/nav.html"></div>

        <ul class="nav-components">
            <li><a href="./button/button.html">Buttons</a></li>
            <li><a href="./inputs/input.html">Form Inputs</a></li>
            <li><a href="./messages/messages.html">Feedback Messages</a></li>
        </ul>

        <section>
            <h2>Components</h2>
        </section>
    </main>

</body>

</html>