<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/custom.css">
</head>

<body>
    <main>

        <script src="/Project_1/include-nav.js"></script>
        <!-- Include nav.html -->
        <div data-include="/Project_1/docs/nav.html"></div>

        <ul class="nav-components">
            <li><a href="./button/button.html">Buttons</a></li>
            <li><a href="./inputs/input.html">Form Inputs</a></li>
            <li><a href="./messages/messages.html">Feedback Messages</a></li>
        </ul>

        <section>
            <h2 class="heading1">Components</h2>
            <p class="body-text">
                Components are reusable UI elements built using predefined styles.  
                They help ensure consistency and speed up the development process.
            </p>

            <div class="block">
                <div class="heading2">What’s included</div>
                <p class="body-text">
                    This design system includes the following components:
                <ul class="body-text">
                    <li>Buttons</li>
                    <li>TForm inputs </li>
                    <li>Spacing system </li>
                    <li>Feedback messages </li>

                </ul>
                </p>
            </div>
        </section>
    </main>

</body>

</html>