<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="../../../css/custom.css">
</head>

<body>
    <main>
        <script src="/Project_1/include-nav.js"></script>
        <!-- Include nav.html -->
        <div data-include="/Project_1/docs/nav.html"></div>

        <ul class="nav-components">
            <li><a href="../button/button.html">Buttons</a></li>
            <li><a href="../inputs/input.html">Inputs</a></li>
            <li><a href="../messages/messages.html">Feedback Messages</a></li>
            <li><a href="icons.html" class="active-components">Basic Icons</a></li>
        </ul>

        <section>
            <div class="heading1">Basic Icons</div>
            <p class="body-text">
                This design system includes set of common used e-commerce icons.
                To use them in your design apply appropriate class name.
            </p>

            <div class="icons-row">
                <i class="icon icon-search">
                </i>
                <i class="icon icon-profile">
                </i>
                <i class="icon icon-favourite">
                </i>
                <i class="icon icon-cart">
                </i>
                <i class="icon icon-home">
                </i>
                <i class="icon icon-burger">
                </i>
                <i class="icon icon-delivery">
                </i>
            </div>

            <div class="icons-row">
                <i class="icon icon-payment">
                </i>
                <i class="icon icon-store">
                </i>
                <i class="icon icon-questions">
                </i>
                <i class="icon icon-error">
                </i>
                <i class="icon icon-arrow2">
                </i>
                <i class="icon icon-arrow1">
                </i>
                <i class="icon icon-arrow3">
                </i>
                <i class="icon icon-tick">
                </i>
            </div>


        </section>
    </main>
</body>

</html>