@use "../../foundations/index.scss" as *;

.icon {
    display: block;
    width: 36px;
    height: 36px;
}

.icons-row {
    display: flex;
    flex-direction: row;
    gap: $spacing-l;
    margin-bottom: $spacing-l;
}

.icon svg {

    margin-right: $spacing-l;
    margin-bottom: $spacing-sm;
}

.icon.icon-arrow2 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cpath d='M16.1094 32.4053L27.8905 22.1037' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M16.2139 11.5947L27.7858 22.1036' stroke='%230D0D0D' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
  }